# Base16 {{scheme-name}}
# Author: {{scheme-author}}

# Colors                brd     bg      txt     ind     chbrd
client.focused          #{{base0D-hex}} #{{base01-hex}} #{{base05-hex}} #{{base0E-hex}} #{{base0D-hex}}
client.focused_inactive #{{base00-hex}} #{{base00-hex}} #{{base04-hex}} #{{base02-hex}} #{{base00-hex}}
client.unfocused        #{{base01-hex}} #{{base00-hex}} #{{base04-hex}} #{{base0E-hex}} #{{base00-hex}}
client.urgent           #{{base08-hex}} #{{base00-hex}} #{{base04-hex}} #{{base09-hex}} #{{base08-hex}}
