# Base16 {{scheme-name}}
# Author: {{scheme-author}}

[colors]
alpha=0.93
background={{base00-hex}} # bg
foreground={{base05-hex}} # fg
urls={{base0D-hex}}       # blue
flash={{base0A-hex}}      # yellow
flash-alpha=0.5

# Normal colors
regular0={{base01-hex}} # Black
regular1={{base08-hex}} # Red
regular2={{base0B-hex}} # Green
regular3={{base0A-hex}} # Yellow
regular4={{base0D-hex}} # Blue
regular5={{base0E-hex}} # Magenta
regular6={{base0C-hex}} # Cyan
regular7={{base05-hex}} # White

# Bright colors
bright0={{base03-hex}} # Black
bright1={{base09-hex}} # Red- trying orange
bright2={{base0B-hex}} # Green
bright3={{base0A-hex}} # Yellow
bright4={{base0D-hex}} # Blue
bright5={{base0E-hex}} # purple
bright6={{base0C-hex}} # cyan
bright7={{base07-hex}} # white
